html,
body {
  background-color: #211F2B;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1,
h2 {
  margin: 0;
}

h1 {
  color: white;
  font-size: 30px;
  font-weight: 500;
}
#checkbox{
    width: 180px;
    margin-right: 8px;
}
h2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

form {
  margin: 0;
  padding: 0;
  width: 100%;
}

.divider {
  width: 100px;
  height: 3px;
  margin: 20px auto;
  background-color: #617BFF;
}

input,
textarea {
  position: relative;
  text-align: center;
  display: block;
  margin: 0;
  border-radius: 7px;
  background-color: white;
  padding: 10px 20px;
  width: 100%;
  color: #1E1C29;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: all 0.2s;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px #617BFF solid;
}
.container {
  background-color: rgba(255, 255, 255, 0.1);
  width: 300px;
  margin: 0 auto;
  border-radius: 14px;
  padding: 30px 30px 20px 30px;
  margin-top: 50px;
}
.encabezado {
    background-color: rgba(255, 255, 255, 0.1);
    width: -webkit-fill-available;
    margin: inherit;
    border-radius: 14px;
    padding: 30px 30px 20px 30px;
    margin-top: 30px;
  }
.container23{
    margin-top: 40px;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    gap: 1px;
    clear: both;
}
.checkout-step {
    color: #666;
    font-size: 14px;
    padding: 17px;
    position: relative;
}
.titulo{
    width: 100px;
}
.mr-2, .mx-2 {
    margin-right: 0.5rem!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.form-control{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.card{
    border-radius: 20px;
    margin-left: 10px;
    background-color: #fff;
    transition: .3s all ease;
    overflow: hidden;
    background-image: url(cuaderno2.png);
    background-size: cover;
    background-repeat: initial;
    flex-basis: content;
    width: 200px;
    height: 100px;
}
textarea{
  font-style: bold;
}
.card:hover{
    flex: content;
    background-color: rgb(207, 207, 207);
}
.textarea-readonly {
  resize: none;
  overflow: hidden;
}
input[name="amount"] {
  font-size: 20px;
  font-weight: 600;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#submit-btn,#submit-btn2  {
  display: block;
  text-decoration: none;
  border-radius: 7px;
  margin-right: 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  width: auto;
  border: 2px #617BFF solid;
  color: white;
  background-color: #617BFF;
  transition: all 0.2s;
}
.botonSumit  {
  display: block;
  text-decoration: none;
  border-radius: 7px;
  margin-right: 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  width: auto;
  height: 45px;
  border: 2px #617BFF solid;
  color: white;
  background-color: #617BFF;
  transition: all 0.2s;
}
.botonSumit:hover{
  border: 2px #8095FF solid;
  background-color: #8095FF;
}
.botonSumit:disabled {
  border: 2px rgba(255, 255, 255, 0.1) solid;
  background-color: rgba(255, 255, 255, 0.1);
}
#submit-btn:hover,  #submit-btn2:hover{
  border: 2px #8095FF solid;
  background-color: #8095FF;
}

#submit-btn:disabled, #submit-btn2:disabled {
  border: 2px rgba(255, 255, 255, 0.1) solid;
  background-color: rgba(255, 255, 255, 0.1);
}

textarea[name="address"] {
  resize: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 2.7rem;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

form {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    flex-flow: row wrap;
    max-width: 40vw;
    margin: auto;
    align-items: baseline;
}

button[type="submit"] {
    padding: 5px 20px;
    margin: 10px auto;
    float: right;
}

#greeting {
    margin: 10px auto;
    padding: 10px 60px;
    border: 1px solid #222;
}

#greeting:empty {
    display: none;
}
.box0{
    float: left;
    margin-left: 100px;
    box-sizing: border-box;
}
.box1{
  float: left;
  box-sizing: border-box;
}
.box2{
  float: left;
  box-sizing: border-box;
}
legend {
  text-align: center;
  margin: 10px;
  font-size: 22px;
  font-weight: bold;
  font-family: monospace;
  color: #d7d6d6;
}
#search{
  margin-right: 10px;
  width: 200px;
  height: 45px;
}
#searchById{
  margin-right: 10px;
  width: 60px;
  height: 45px;
}
#clave{
  margin-right: 10px;
  width: 60px;
  height: 45px;
}
.contenido1{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botonA {
  margin: 10px;
  width: 38%;
  height: 55px;
  border-radius: 15px;
  background: #272729;
  color: #f6faff;
  font-size: 15px;
  cursor: pointer;
}
.contenedor{
  display: flexbox;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
.hijo{
  flex-grow: 1;
}
.form-update {
  /* Estilos del formulario */
  bottom: 0;
  position: fixed;
  left: 0;
  width: 100%;
  background: linear-gradient(343deg, #000000, transparent);
  padding: 20px;
  box-sizing: border-box;
}
.form-update.relative {
  position: relative;
}
#logoimg{
  size: 1rem;
}
#sesion{
  border: 3.5px solid #525256;
  border-radius: 18px;
  display: inline-block;
  font-family: Verdana;
  letter-spacing: -1px;
  font-size: 15px;
  user-select: none;
  font-weight: bold;
  color: #fcfcff;
  transition: all .195s ease-in-out;
  cursor: pointer;
  background-color: #211f2b;
}
#sesion:hover{
    border: 2px solid #8b80f9;
    box-shadow: #8b80f9 0px 0px 12px 1px inset,
    #8b80f9 0px 0px 12px 1px;
    border-radius: 99px;
}